{% load static %}

<section id="about" class="about-area pt-80 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-image mt-50 clearfix">
                        <div class="single-image float-left">
                            <img src="{% static 'images/about/about-1.jpg' %}"  alt="About">
                        </div> <!-- single image -->
                        <!--<div data-aos="fade-right" class="about-btn">
                            <a class="main-btn" href="#"><span>27</span> Years Experience</a>
                        </div>-->
                        <div class="single-image image-tow float-right">
                            <img src="{% static 'images/about/about-2.webp' %}"  alt="About">
                        </div> <!-- single image -->
                    </div> <!-- about image -->
                </div>
                <div class="col-lg-6">
                    <div class="about-content mt-45">
                        <h4 class="about-welcome">Sobre nós </h4>
                        <h3 class="about-title mt-10"></h3>
                        <p class="mt-25">Somos um grupo de Nutricionistas especialistas em nutrição clínica, esportiva, estética e saúde da mulher.<br>
                        <!--<a class="main-btn mt-25" href="#">learn more</a>-->
                    </div> <!-- about content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>