{% load static %}

<header id="home" class="header-area pt-100">

        <div class="shape header-shape-one">
            <img src="{% static 'images/banner/shape/shape-1.png' %}"  alt="shape">
        </div> <!-- header shape one -->

        <div class="shape header-shape-tow animation-one">
            <img src="{% static 'images/banner/shape/shape-2.png' %}"  alt="shape">
        </div> <!-- header shape tow -->

        <div class="shape header-shape-three animation-one">
            <img src="{% static 'images/banner/shape/shape-3.png' %}"  alt="shape">
        </div> <!-- header shape three -->

        <div class="shape header-shape-fore">
            <img src="{% static 'images/banner/shape/shape-4.png' %}"  alt="shape">
        </div> <!-- header shape three -->

        <!-- navigation bar -->
            {% include 'navigation.html' %}
        <!-- navigation bar -->

        <div class="header-banner d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-9 col-sm-10">
                        <div class="banner-content">
                            <h4 class="sub-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s">Nutrição, Saúde e Estética</h4>
                            <h1 class="banner-title mt-10 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="2s"><span>Desfrute</span> de uma saúde plena</h1>
                            <!--<a class="banner-contact mt-25 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="2.3s" href="#contact">Get a Free Quote</a>-->
                        </div> <!-- banner content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
            <div class="banner-image bg_cover" style="background-image: url({% static 'images/banner/banner-image.png' %})"></div>
        </div> <!-- header banner -->

    </header>