{% load static %}

<div class="navigation-bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="#">
                                <img src="{% static 'images/logo.png' %}"  alt="Logo">
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="page-scroll" href="#home">Página Inicial</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#about">Sobre</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#service">Serviços</a>
                                    </li>
                                    <!--<li class="nav-item">
                                        <a class="page-scroll" href="#project">Projects</a>
                                    </li>-->
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#team">Equipe</a>
                                    </li>
                                    <!--<li class="nav-item">
                                        <a class="page-scroll" href="#contact">Contato</a>
                                    </li>-->
                                </ul> <!-- navbar nav -->
                            </div>
                            <div class="navbar-btn ml-20 d-none d-sm-block">
                                <a class="main-btn" href="https://wa.me/5563984711507"><i class="lni-phone"></i> (63) 98471-1507</a>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div>